[core]
    editor = vim

[user]
    name = Emaleth
    email = Emaleth@protonmail.com

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
    interactive = auto

[log]
    decorate = full

[init]
    defaultBranch = main

