/* Emaleth's Waybar Style.css */

@define-color bg			#181818;
@define-color fg			#d8d8d8;
@define-color accent	#ab4642;

/* STYLE */
window#waybar {
	font-family: Ubuntu Mono Nerd Font;
	font-size: 14px;
	background: @bg;
	color: @fg;
}

#workspaces,
#custom-day,
#custom-time,
#custom-date,
#network,
#pulseaudio,
#battery,
#tray,
#custom-power {
	padding: 0 8px;
}

#workspaces button {
	padding: 0 2px;
	color: @fg;
}

#workspaces button.focused {
	color: @accent;
}

